
{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'users/register-page.css' %}">
{% endblock %}


{% block content %}
<main class="register-book">
    <div class = 'box-details book-box' >
        <h2>The ancient tome you seek from my magic library is:</h2>
        <h3><strong>{{ book.title }}</strong></h3>

        <p>Authored by: {{ book.writer }}</p>
        <p>Genre of forbidden magic: {{ book.genre }}</p>
         <form method="post" action="{% url 'rent_a_book' book.id %}">
            {% csrf_token %}
            <button type="submit">I rent with caution</button>
        </form>
    </div>

</main>


{% endblock %}