@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html {
    font-family: "Macondo", cursive;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
}
body {
    min-height: 100vh;
    position: relative;
    background-image: url('images/lib1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* optional, keeps background fixed */
    cursor: url('images/magic-wand.png'), auto;
    overflow-y: auto;   /* allows vertical scroll */
    overflow-x: hidden;
}

body > *{
    width: 100%;
    position: relative;
    z-index: 1;
}



.section.site-header{
    display: flex;
    justify-content: space-between;
}
.section.site-header img{
    height: 100px;
    width: auto;

}

.section.site-header nav ul {
    display: flex;
    justify-content: space-between;
}

.section.site-header nav ul li {
    padding: 4em;
    list-style: none;
}

.section.site-header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.section.site-header nav ul li a:hover {
    color: greenyellow;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    display: inline-block;
    padding: 0.5em 1.2em;
    border: 2px solid blue;
    border-radius: 1em;
    background: #37b8ee;
    color: #7af6e2;
    cursor: pointer;
    margin-top:2em ;
}

button:hover{background: #0015ff;}