
.library-header {
    width: 100%;
    text-align: center;

}

.library-header h1 {
    color: white;
    font-size: 3em;
    margin: 0;

}
.library-header h1:hover{
    color: aqua;
}
.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.search-bar input{
    width: 500px;         /* input width */
    max-width: 80%;       /* responsive */
    padding: 0.8em 1em;   /* space inside the box */
    font-size: 1em;
    border-radius: 2em;
    border: 5px solid #37b8ee;
    color: white;
    background-color: rgba(144, 218, 250, 0.69);
    box-shadow: 0 0 10px rgb(242, 230, 230);
    text-align: center;
}
.search-bar input::placeholder {
    color: #aee2ff;
    font-style: italic;
    text-shadow: 0 0 5px #aee2ff;
    text-align: center;
}


