.register-book {
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    flex-wrap: wrap;
}

.book-box {
    flex: 0 1 300px;
    min-width: 300px;
    width: 95%;
    max-width: 600px;
    padding: 2em;
}

.book-box:hover{
    color: midnightblue;
}

.book-box p{
    font-size: 1.5em;
}
.form-box {
    flex: 1 1 300px;
    min-width: 300px;
    width: 95%;
    max-width: 600px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-box h1 {
    font-size: 1.5em;
    line-height: 1.3;
    text-align: center;
    word-wrap: break-word;
    margin: 0 0 1em 0;
}
.form-box form {
    display: flex;

    gap: 1.2em;
    flex-wrap: wrap;
    justify-content: center;

}
form input{
    flex: 1 1 calc(50% - 0.6em);
    min-width: 200px;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 1em;
    border: 2px solid blue;
    text-align: center;
    box-sizing: border-box;
}

