
.box-details h2:hover{
    color: blue;
}
.box-details h3{
    color: darkred;
}


.rules ul{
    list-style: none;
}

.rules ul li{
    padding: 0.8em 0;
}

.rules ul li:hover{
    color:mediumvioletred;
    font-weight: bold;
}