.search-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.search-content h1 {
    color: white;
    font-size: 3em;
    margin: 0;

}
.search-content h1:hover{
    color: aqua;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}
.book-card {
    padding: 0.8em;
    margin: 1em;
    width: 90%;
    max-width: 300px;
    list-style: none;
    border: 5px solid #37b8ee;
    border-radius: 12px;
    color: white;
    background-color: rgba(144, 218, 250, 0.69);
    box-shadow: 0 0 10px rgb(242, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.8em;
}

.book-card button{
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid blue;
    border-radius: 1em;
    background: #37b8ee;
    color: #7af6e2;
    cursor: pointer;

    &:hover {
        background: #0015ff;
    }
}