.search-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em 0;
    min-height: auto;
}

.search-content h1 {
    color: white;
    font-size: 3em;
    margin: 0;

}
.search-content h1:hover{
    color: aqua;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.book-card {
    padding: 0.8em;
    margin: 1em;
    width: 90%;
    max-width: 300px;
    list-style: none;
    border: 5px solid #37b8ee;
    border-radius: 12px;
    color: white;
    background-color: rgba(144, 218, 250, 0.69);
    box-shadow: 0 0 10px rgb(242, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.8em;
}

