.box-details h2:hover{
    color: #ffd500;
}
.box-details h3:hover{
    color: #ff0000;
}
.box-details h3{
    color: darkred;
}


.rules ul{
    list-style: none;
}

.rules ul li{
    padding: 0.8em 0;
}

.rules ul li:hover{
    color:mediumvioletred;
    font-weight: bold;
}