{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="section site-header">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.gif' %}"></a>
{#        <img src="{% static 'images/logo.gif' %}">#}

        <nav>
            <ul>
                <li><a href="{% url 'all_books' %}">My library</a></li> {# list of all the books #}
                <li><a href="#">Potions</a></li> {# making magic potions #}
                <li><a href="#">Match a Dragon</a></li> {# random matchmaking #}
                <li><a href="#">Read</a></li> {# blog #}
            </ul>
        </nav>
    </header>


  <div class = 'container'>
      {% block content %}
      {% endblock %}
  </div>



</body>
</html>