{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header class="section site-header">
        <img src="{% static 'images/logo.gif' %}">

        <nav>
            <ul>
                <li><a href="#">My library</a></li>
                <li><a href="#">Potions</a></li>
                <li><a href="#">Match a Dragon</a></li>
                <li><a href="#">Read</a></li>
            </ul>
        </nav>
    </header>
    
     <main class="library-header">
        <h1>This is my Magic Library</h1>
         <div class="search-bar">
             <input name="title"
                    id="question"
                    type="text"
                    placeholder="What magic book do you want?"
                    required>
             <input name="writer"
                    id="question"
                    type="text"
                    placeholder="Who is the author?"
                   >
         </div>
         <button class="search-btn">Search</button>
    </main>


    <ul>
{#        {% for book in books %}#}
{#            <li> {{ book.title }} - {{ book.writer }}</li>#}
{#        {% endfor %}#}
    </ul>

</body>
</html>