{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'register-page.css' %}">
{% endblock %}


{% block content %}
<main class="register-book">
    <div class = 'box-details book-box' >
        <h1>{{ book.title }}</h1>

        <p>Author: {{ book.writer }}</p>
        <p>Genre: {{ book.genre }}</p>


    </div>

    <div class="box-details form-box">
        <h1>I need your details for your soul if you don't return the book</h1>
        <form method="post" action="{% url 'register' book.id %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Rent</button>
        </form>

        </div>
</main>

{% endblock %}