{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}
{% block content %}
 <main class="library-header">
    <h1>This is my Magic Library</h1>
     <form method="get" action="{% url 'search_books' %}">
         <div class="search-bar">
             <input name="title"
                    id="question"
                    type="text"
                    placeholder="What magic book do you want?"
                    required>
         </div>
         <button class="search-btn" type="button">Search</button>
     </form>
</main>
{% endblock %}
